<!-- <div class="loader-container">
    <img src="https://usagif.com/wp-content/uploads/loading-1.gif.webp" alt="">
  </div> -->

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script src="/js/script.js"></script>
    
</body>
</html>